<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="https://static.vecteezy.com/system/resources/thumbnails/009/305/647/small/cartoon-book-history-book-diary-wisdom-education-old-book-clipart-design-illustration-free-png.png" />

</head>

<body>
